// Specific CSS for your home-page
.home_margin {
  margin-top: 150px;
}

.h3_home {
  color: white;
}

.homepage-body {
  background-image: asset-url("astronight_background_sky2.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  color: var(--lightColor);
}

.banner {
  height: calc(80vh);
  flex-direction: column;
  text-align: center;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-size: cover;
  background-position: center;
}
