// Specific CSS for your home-page
.home_margin {
  margin-top: 150px;
}

.h3_home {
  color: white;
}

.homepage-body {
  background-image: asset-url("astronight_background_sky2.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}
