body.has-loader {
  overflow: hidden;
}

/* Absolute Center */
.loader {
  background-image: asset-url("astronight_background_sky2.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  position: fixed;
  text-align: center;
  vertical-align:middle;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1071;
  padding-top: 160px;
  visibility: visible;
  opacity: 1;
  transition: opacity .5s linear;
}

.loader > h3 {
  color: white;
  // font-family: 'IBM Plex Mono';
  font-size: 32px;
  font-weight: bolder;
  padding: 12px;
}

.loader > h2 {
  color: white;
  // font-family: 'IBM Plex Mono';
  font-size: 24px;
  padding: 12px;
}

.fade-out {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s .5s, opacity .5s linear;
}

.star {
  width: 1.5px;
  height: 1.5px;
  position: absolute;
  z-index: 1072;
}

.star-1 {
  background: #FCF844;
}

.star-2 {
 background: white;
}

.star-3 {
 background: #627f8b;
}

.star-4 {
 background: #BADEFC;
}

.star-5 {
 background: #EFE9E7;
}

.star-6 {
 background: #c9c9c9;
}

.star-7 {
 background: #d4d4d4;
}

.star-8 {
 background: #ddd;
}

.star-9 {
 background: #e3e3e3;
}

.star-10 {
 background: #fff;
  width: 2px;
  height: 1px;
}
