<% thisclass = nil %>
<% thisclass = "map2" if @small_map %>

<div
  id="map"
  class="<%= thisclass %>"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="pk.eyJ1Ijoic2lydGF5bG9yODgiLCJhIjoiY2p2N3ppaTI0MDFzZzQ2bW01MmZ2MGFhbCJ9.qbFjjsDDBjZKLpOCwWIpyg"
  data-icons="<%= @icons.to_json %>"
></div>
