<table>
  <tbody>
    <tr>
      <th>Light pollution index</th>
      <td><%= @event.site.light_pol_index %>/20</td>
    </tr>
    <tr>
      <th>Temps</th>
      <td></td>
    </tr>
    <tr>
      <th>Nébulosité (<em>en %</em>)</th>
      <td></td>
    </tr>
    <tr>
      <th>Humidité (<em>en %</em>)</th>
      <td></td>
    </tr>
    <tr>
      <th>Vitesse de vent (<em>en km/h</em>)</th>
      <td></td>
    </tr>
  </tbody>
</table>
