<div id="conteneur">
  <% @event.participations.each do |participation| %>
    <ul>
      <div class="element">
        <%= cl_image_tag participation.user.avatar, gravity: :face, crop: :thumb, radius: :max, width: 80, height: 80, background: "#f6f6f6" %>
      </div>
      <div class="element"><%= participation.user.username %></div>
      <div class="element">
        <span style="font-size:smaller"> Inscrit il y a <%=distance_of_time_in_words(Time.now - participation.created_at) %></span>
      </div>
    </ul>
  <% end %>
</div>
