<div style="height: 200px; overflow-y: scroll">
  <table>
    <thead>
      <th>Photo de profil</th>
      <th>Surnom</th>
      <th>Inscrit depuis</th>
    </thead>
    <tbody>
      <% @event.participations.each do |participation| %>
      <tr>
        <td>
          <% if participation.user.photo.nil? %>
          <% else %>
            <%= cl_image_tag participation.user.photo, height: 300, width: 400, crop: :fill %>
          <% end %>
        </td>
        <td><%= participation.user.username %></td>
        <td><%= distance_of_time_in_words(Time.now - participation.created_at) %></td>
      </tr>
      <% end  %>
    </tbody>
  </table>
</div>



