<% @event.participations.each do |participation| %>
  <ul>
    <li><%= cl_image_tag participation.user.avatar, gravity: :face, crop: :thumb, radius: :max, width: 80, height: 80, background: "#f6f6f6" %></li>
    <li><%= participation.user.username %></li>
    <li><%= distance_of_time_in_words(Time.now - participation.created_at) %></li>
  </ul>
<% end %>
