<table>
  <thead>
    <th>Index</th>
    <th>Date</th>
    <th></th>
    <th></th>
    <th></th>
  </thead>
  <% @my_events.each_with_index do |ev, index|%>
  <tbody>
    <tr>
      <td><%= index + 1 %></td>
      <td><%= event.date.strftime("%d/%m/%Y") %></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  <% end %>
  </tbody>
</table>
