<div class="loader">
<h3>AstroNight analyse les conditions d'observation</h3>
<br>
<br>
<h3 id="countup-site"></h3>
<h3 id="countup-meteo"></h3>
<h3 id="countup-astro-events"></h3>
<h3 id="countup-light-pol"></h3>
</div>

<div class="content">
<h1> Liste </h1>
<% @events.each do |event| %>
<ul>
  <li> <%= link_to "#{event.site.address} le #{event.date.strftime("%d/%m")}" , event_path(event) %></li>
  <li> Score: <%= event.event_score %> </li>
  <% if event.site.photo.nil? %>
  <% else %>
    <li>photo url du site: <%= event.site.photo %></li>
  <% end %>

</ul>
<br>
<% end %>


<%= render partial: 'mapbox' %>

</div>
