<div class="container form_console from_reserv" style="width: 1000px">
  <h1 class="text-center" style="padding-top: 10px">Information sur l'événement</h1>

  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a href="#details" class="nav-link active" role="tab" data-toggle="tab">Détails</a>
    </li>
    <li class="nav-item">
      <a href="#messages" class="nav-link" role="tab" data-toggle="tab">Messages</a>
    </li>
    <li class="nav-item">
      <a href="#conditions" class="nav-link" role="tab" data-toggle="tab">Conditions d'observation</a>
    </li>
  </ul>

  <div class="tab-content">
    <div role="tabpanel" class="tab-pane fade in show active" id="details">
      <div class="container border p-3">
        <h4>Location: <span><%= @event.site.address %></span></h4>
        <h5>Date: <span><%= I18n.localize(@event.date, format: :long).capitalize %></span></h5>
        <h3>Description</h3>
        <p><%= @event.site.description %></p>

        <p>Light pollution index: <%= @event.site.light_pol_index %></p>
      </div>
    </div>

    <div role="tabpanel" class="tab-pane fade" id="messages">
      <div class="container border p-3">

      </div>
    </div>

    <div role="tabpanel" class="tab-pane fade" id="conditions">
      <div class="container border p-3">

      </div>
    </div>
  </div>

</div>
