<div class="banner d-flex flex-column">
  <div class="row align-items-center justify-content-around">
    <div class="col-5 " style="text-align: left;">
      <h1 class="pb-3">Passez vos nuits dehors</h1>
      <p style="font-size: 20px">Astronight vous recommande les meilleurs lieux et dates pour aller observer les plus beaux ciels étoilés<p>
    </div>
    <div class="col-6 text-align-start" style="text-align: left;">
      <%= render 'searchform' %>
    </div>
  </div>
</div>

