.btn-bc-light {
  text-decoration: none;
  color: white;
  background-color: transparent;
  border: 1px solid white;
  padding: 8px 24px;
  border-radius: 8px;
  transition: all .3s;
}

.btn-bc-light:hover {
  text-decoration: none;
  background-color: white;
  color: #47A1D1;
  border: 1px solid white;
}

.btn-inscr {
  font-size: 16px;
  width: 150px;
  margin: 0 5px;
  text-align: center;
  color: white !important;
}

.btn-bc-go {
  text-decoration: none;
  background-color: white;
  color: #47A1D1;
  border: 1px solid white;
  padding: 8px 24px;
  border-radius: 8px;
  transition: all .3s;
}

.btn-bc-go:hover {
  text-decoration: none;
  background-color: white;
  color: #47A1D1;
  border: 1px solid white;
  transform: scale(1.2);
}

