.dropdown-menu {
  background-color: transparent;
  border: none;
}

.dropdown-item {
  color: lightgrey !important;
}

.dropdown-item:hover {
  color: white !important;
  background-color: transparent;
}
