.gauge-container {
  width: 120px;
  height: 120px;
  display: block;
  padding: 8px;
}
.gauge-container > .gauge > .dial {
  stroke: #eee;
  stroke-width: 6;
  fill: rgba(0,0,0,0);
}
.gauge-container > .gauge > .value {
  stroke: #083358;
  stroke-width: 6;
  fill: rgba(0,0,0,0);
}
.gauge-container > .gauge > .value-text {
  fill: #083358;
  font-weight: bold;
}
