// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "root_colors";
@import "table";
@import "footer";
@import "pictos";
@import "sites";
@import "searchform";
@import "gauge";
@import "button";
@import "form";

@import "conteneur";
@import "element";
@import "btn-primary";

@import "map";
@import "container";
@import "gauge-container";

body {
  margin-bottom: 50px;
}

.flexbox{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
