// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "root_colors";
@import "table";
@import "footer";
@import "pictos";
@import "sites";
@import "searchform";
@import "gauge";
@import "button";
@import "form";
@import "modal";
@import "conteneur";
@import "element";
@import "btn-primary";
@import "map";
@import "container";
@import "gauge-container";
@import "img";
@import "cards";
@import "links_connexion";
@import "second-border";
@import "center-div";
@import "show_events";
@import "fontawesome";
@import "stellarium";

body {
  margin-bottom: 50px;
  background-color: white;
  height: 80vh;
  color: #47A1D1;
}

.flexbox {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

a {
  color: #47A1D1;
  // text-decoration: none;
}

a:hover, a:visited, a:link, a:active {
  text-decoration: none;
  // color: #47A1D1;
}

h3 {
  color: #47A1D1;
}

.h3_white {
  color: white;
}
