

section {
  display: flex;
  flex-direction: column;
  padding: 8px;
  margin: 0 16px;
  align-items: center;
  span {
    text-align: center;
    margin-bottom: 12px;
    text-transform: uppercase;
  }
  &.light-bg {
    border: 2px solid #ddd;
    border-radius: 12px;
    color: #282828;
    background: #fff;
  }
  &.dark-bg {
    border-radius: 12px;
    color: #fff;
    background: linear-gradient(to bottom, #43C6AC, #191654);
  }
}

// TOGGLE BUTTON
input.toggle {
  position: relative;
  width: 90px;
  height: 42px;
  -webkit-appearance: initial;
  -moz-appearance: initial;
  -ms-appearance: initial;
  appearance: initial;
  border-radius: 21px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  outline:none;
  cursor:pointer;
  transition: all .3s ease;
  &:before, &:after {
    transition: all .3s ease;
  }
  &:before {
    content: "";
    position: absolute;
    width: 24px;
    height: 24px;
    top: 50%;
    left: calc(0% + 8px);
    transform: translate3d(0,-50%,0);
    border-radius: 50%;
  }
  &:after {
    content: "NON";
    position: absolute;
    top: 50%;
    left: calc(0% + 24px + 16px);
    transform: translate3d(0,-50%,0);
    font-size: 16px;
  }
  &:checked {
    border-bottom-color: #0facf3;
    &:before {
      left: calc(100% - 24px - 8px);
      transform: translate3d(0,-50%,0);
      border-radius: 50%;
    }
    &:after {
      content: "OUI";
      left: calc(0% + 16px);
    }
  }
  &__light {
    background: #f0f1f2;
    border-bottom: 2px solid #dddddd;
    font-weight: 500;
    &:before {
      background: #3c4859;
    }
    &:after {
      color: #3c4859;
    }
    &:checked {
      border-color: #4cd964;
      &:before {
        background: #4cd964;
      }
      &:after {
        color: #4cd964;
      }
    }
  }
  &__outline {
    background: #transparent;
    border: 2px solid #fff;
    &:before {
      background: transparent;
      border: 2px solid #f0f1f2;
    }
    &:after {
      color: #f0f1f2;
    }
    &:checked {
      border-color: #fff;
      &:before {
        border: 2px solid #fff;
        left: calc(100% - 28px - 8px);
        background: #fff;
      }
      &:after {
        color: #fff;
      }
    }
  }
}
