.navbar-lewagon {
  justify-content: space-between;
  // margin-top: -80px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 45px;
  margin-right: 0px;
}

.navbar-brand {
  margin-right: 0px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.nav-item {
  display: flex;
  flex-direction: column;
}

.nav-connexion {
  display: flex;
}

.navbar {
  background-image: asset-url("astronight_background_sky.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  color: var(--lightColor);
  padding-top: 5px;
  padding-bottom: 5px;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 1070;
}

.name_margin {
  margin-left: 8px;
}

.bonjour {
  margin: auto;
  padding-right: 20px;
}

.bonjour_blue {
  margin: auto;
  padding-right: 20px;
  color: #47A1D1;
}

.astronight_name {
  font-size: 32px;
  margin-bottom: -15px;
  color: var(--lightColor);
}

.astronight_name_blue {
  font-size: 32px;
  margin-bottom: -15px;
  color: #47A1D1;
}

.dropdown-item {
  transition: 0.3s;
}

.dropdown-item:hover {
  background-color: var(--secondColor);
  color: var(--lightColor)
}

.img_profile {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.navbar_white {
  background-color: white;
}

.no-margin-top {
  padding-top: 0px;
}
