.ap-name {
  color: grey;
}

.ap-input-icon svg {
  display: "none";
}

.form-check {
  display: inline-table;
  padding: 0;
  text-align: center;
  justify-content: center;
}

.radio-choices {
  display: flex;
  .collection_radio_buttons {
    display: inline-block;
    width: 150px;
    color: white;
    background-color: transparent;
    padding: 8px 2px 8px 2px;
    text-align: center;
    cursor: pointer;
    border: solid 1px white;
    transition: all .15s;
    &[for=searchform_date_range_aujourdhui] {
      border-right: 1px solid ;
      border-radius: 3px 0 0 3px;
    }
    &[for=searchform_date_range_14_prochains_jours] {
      border-left: 1px solid ;
      border-radius: 0 3px 3px 0;
    }
  }
  input {
    display: none;
    &:checked + .collection_radio_buttons {
      background-color: white;
      border: solid 1px white;
      color: #47A1D1;
      cursor: default;
    }
  }
}

.col-form-label {
  padding-top: 15px;
  padding-bottom: 0px;
}
