.nav-link.active {
  border: 1px solid transparent;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-color: #47A1D1;
}

.nav-tabs .nav-link {
  border: none;
}

.nav-tabs:hover .nav-link:hover {
  color: #00508A;
}

.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
    background-color: #47A1D1;
    color: white;
}

.affichage {
  display: flex;
  justify-content: space-around;
  text-align: left;
  margin-top: 10px;
}

// Specific CSS for your home-page
.home_margin {
  margin-top: 150px;
}

.h3_home {
  color: white;
}

.homepage-body {
  background-image: asset-url("astronight_background_sky2.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  color: var(--lightColor);
}

.banner {
  height: calc(80vh);
  flex-direction: column;
  text-align: center;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-size: cover;
  background-position: center;
}



.div_generale {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.div_haut {
 width:100%;
 margin:20px auto 0px;
 display: flex;
}

.div_haut_gauche {
 margin:10px auto;
 display: flex;
 flex-direction: column;
 flex: auto;
}

.div_haut_droite {
  margin:10px auto;
  display: flex;
  align-items: center;
  flex: auto;
}

.div_lieu {
 width:90%;
 margin:0px auto;
}

.div_date {
 width:90%;
 margin:0px auto;
}

.div_btn_confirmation {
  width:100%;
  height:50px;
  margin:10px;
  display: flex;
  justify-content: center;
}

.div_bas {
 width:100%;
 margin:0px auto 10px;
 display: flex;
 justify-content: space-around;
 height: 100%;
}

.div_bas_droite {
 width: 50%;
 margin:10px auto;
 margin-left: 10px;
 display: flex;
 flex-direction: column;
}

.div_bas_gauche {
 width: 50%;
 margin:10px auto;
 margin-right: 10px;
 display: flex;
 flex-direction: column;
}

.div_photo {
 margin:10px auto;
 width:100%;
}

.div_description {
 padding:10px;
 width:100%;
}

.div_bas_btn {
  width:100%;
  display: flex;
  height: 220px;
}

.show_photo {
  height: 250px;
  width: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.div_participants {
  margin:10px auto;
  width:100%;
  height:558px;
  display: flex;
  flex-direction: column;
  text-align: center;
  border: solid 1px #47A1D155;
  border-radius: 8px;
  padding-top: 15px;
}

.div_score {
  margin:0px auto;
  width:100%;
  height:90%;
  text-align: center;
  border: solid 1px #47A1D155;
  border-radius: 8px;
  padding: 15px 20px 10px 20px;
}

.div_map {
 margin:10px auto;
 width:100%;
}

.nowrap {
  flex-wrap: wrap;
}

.element img {
  border-radius: 50%;
}

.div_lieu b {
  color: #00508A;
}

.div_score p {
  margin-bottom: 0px;
}

.wrap {
  width: 48%;
}
