<%= stylesheet_link_tag 'application', media: 'all' %>
<%= stylesheet_pack_tag 'application', media: 'all' %>
<div class="container form_console" style="width: 500px">
  <div class="p-3">
  <%= yield %>
  </div>
</div>
